@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_top_block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: rgb(242, 242, 242);
    gap: 40px;
}

.header_top_block h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: #0088A2;
}

.menu_without_buger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.menu_without_buger li {
    flex: 0 1 20%;
}

.menu__item {
    display: block;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    background-color: #808080;
    color: #fff;
    padding: 10px 0;
    transition: 0.4s;

}

.menu__item:hover {
    background-color: #0088A2;
}

/* ========================== Burger Menu =============================== */

#toggle {
    opacity: 0;
}

.btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 22px;
    left: 20px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 2;
    background-color: #F2F2F2;
}

.btn span,
.btn span::before,
.btn span::after {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    transition: 0.3s;
    background-color: #fff;
    background-color: #0088A2;
}

.btn span::before {
    content: '';
    top: -8px;
}

.btn span::after {
    content: '';
    top: 8px;
}

.b_menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 340px;
    height: 100%;
    padding: 60px 0;
    list-style: none;
    /* text-align: center; */
    background-color: #F2F2F2;
    /* background-color: #0088A2; */
    box-shadow: 1px 0px 5px black;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.menu_item {
    display: block;
    padding: 20px 20px;
    color: #0088A2;
    /* color: #fff; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.4s ease;
    border-bottom: 1px solid #0088A2;
    width: auto;
    margin: 0 45px 0 10px;
}

.menu_item:hover {
    background-color: #0088A2;
    color: #fff;
}

#toggle:checked~.btn span {
    transform: rotate(45deg);
}

#toggle:checked~.btn span::before {
    transform: rotate(-90deg);
    top: 0;
}

#toggle:checked~.btn span::after {
    transform: rotate(0deg);
    top: 0;
}

#toggle:checked~.b_menu {
    visibility: visible;
    left: 0;
}


/* ====================================================================== */

.question {
    margin: 40px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.question_card {
    flex: 0 1 30%;
    position: relative;
    transition: 0.3s;
}

.question_card:hover {
    transform: scale(1.08);
}

.question_card img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.question_card p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 70%;
}


/* ============== FIVE CARDS =============== */

.five_pictures {
    max-width: 90%;
    margin: 40px auto;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    /* border: 5px solid red; */
    /* height: 500px; */
    position: relative;
}

.five_card {
    display: flex;
}

.five_card img {
    width: 230px;
}

#card1 {
    /* position: absolute; */
    top: 40px;
}

#card2 {
    /* position: absolute; */
    left: 40px;
}

#card3 {}

#card4 {}

#card5 {}




.appinfo {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

.title {
    color: #0088A2;
    font-family: "Open Sans", sans-serif;
    font-size: 65px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

.appinfo_card img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.playbtn img {
    position: absolute;
    width: 100px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ===================== О проекте =================== */
.projectinfo {
    width: 90%;
    margin: 50px auto;
}

.project_card p {
    color: #707070;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 0 100px;
}


/* ===================== Скачать ==================== */

.download {
    width: 90%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download_card {
    width: 100%;
}

.images_div {
    height: 250px;
    margin: 50px auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.download_card p {
    color: #707070;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.contacts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #0088A2;
    gap: 40px;
}

.contacts_card h2 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}

.app_logos {
    margin: 15px auto;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 65px;
}

.app_logos img {
    height: 70px;
}

.contacts_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 10px;
}

.data {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    width: 70%;
}

.data h3 {
    font-size: 25px;
    font-weight: 400;
    margin: 20px auto;
}